* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* sezione main  */
main {
    height: calc(100vh - 100px);
    background-color: #000;
    position: relative;
}

#view-btns {
    background-color: darkgrey;
    position: fixed;
    top: 0;
    right: 0;
}

#view-btns .view-btn {
    height: 20px;
    width: 50px;
    background-color: darkkhaki;
    margin: 0 10px;
    display: inline-block;
}

main section {    
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

main section div {
    background-color: cyan;
    height: 100%;

}

/* frecce pagine */
.arrow {
    display: flex;
    align-items: center;
}

.arrow .page-arrow {

    /* debug */
    height: 50px;
    width: 50px;
    background-color: darkgreen;
}

/* immagini */
#portraits {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    padding: 0;
    overflow: scroll;
}

    #portraits .photo {

        /* debug */
        width: 240px;
        height: 135px;
        padding: 10px;
        background-color: darkgoldenrod;
    }

    #portraits .photo img {
        object-fit: cover;
        max-width: 100%;
        /* padding: 10px; */
    }



/* sezione footer */

nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* debug */
    background-color: cadetblue;
}

nav div {
    display: flex;
}

nav div div {
    /* width: 50px;
    height: 50px; */
    background-color: cyan;

    /* forse da sostituire con padding  */
    margin: 0 10px;
}